[cert_type]
cert_type_toc0=1
cert_type_toc1=1

[key_para]
key_toc0=rsa2048
key_toc1=rsa2048

;if use rsa key, should be rsa2048 | ... | rsa${width}
;key=rsa2048
;if use ecc key, should be ecc_prime256v1 | ... | ecc_${curve_name}
;key=ecc_prime256v1 | ecc_secp256k1 |ecc_secp384r1 | ecc_secp521r1

;¿¿¿¿key¿¿¿[key],¿¿Key_Name¿¿¿¿¿¿¿
;¿¿¿xxx.pem.pub
;¿¿¿xxx.pem
;¿¿rootkey.crtpt¿¿¿[key],¿¿¿¿hash

[key_toc0]
sboot=RootKey_Level_0
rootkey=RootKey_Level_0

[key_toc1]
;Item_TOC_name=Key_Name
monitor=TrustedFirmwareContentCertPK
optee=TrustedFirmwareContentCertPK
u-boot=NonTrustedFirmwareContentCertPK
;boot=NonTrustedFirmwareContentCertPK
meta_a=SCPFirmwareContentCertPK
meta_b=SCPFirmwareContentCertPK
scp=SoCFirmwareContentCert_KEY

;¿¿¿¿¿¿
[rollback_ver]
ver=0

;item=Item_TOC_name,    Item_filename,  Cert_Name
[toc0]
item=sboot,             sboot.bin,      sboot.crtpt

;item=Item_TOC_name,    Item_filename,  Cert_Name
[toc1]
rootkey=rootkey,        NULL,           rootkey.crtpt
item=monitor,           monitor.fex,    monitor.crtpt
item=optee,             optee.fex,      optee.crtpt
item=u-boot,            u-boot.fex,     u-boot.crtpt
;onlykey=boot,          boot.fex,       boot.crtpt
onlykey=meta_a,         vbmeta.fex,     vbmeta_a.crtpt
onlykey=meta_b,         vbmeta.fex,     vbmeta_b.crtpt
item=scp,               scp.fex,        scp.crtpt
onlydata=dtb,           sunxi.fex,      NULL
