// SPDX-License-Identifier: (GPL-2.0+ or MIT)

/dts-v1/;
#include <dt-bindings/input/linux-event-codes.h>
#include "sun300iw1p1.dtsi"

/{
	board = "V821", "V821-Perf2";
	compatible = "allwinner,v821", "riscv,sun300iw1p1";
	unflatten_fdt_size = <0>; /* It will be updated when compiling dtb */
	aliases {
	};

	reg_vdd_cpu: vdd-cpu {
		compatible = "regulator-fixed";
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <920000>;
		regulator-max-microvolt = <920000>;
		regulator-always-on;
		regulator-boot-on;
		status = "okay";
	};

	chosen {
		bootargs = "earlyprintk=sunxi-uart,0x42500c00 initcall_debug=0 console=ttyS3,115200 loglevel=1 root=/dev/mmcblk0p9 rootwait init=/files/init partitions=boot-resource@mmcblk0p1:env@mmcblk0p2:env-redund@mmcblk0p3:bootA@mmcblk0p4:bootB@mmcblk0p5:private@mmcblk0p6:riscv0@mmcblk0p7:riscv0-r@mmcblk0p8:rootfsA@mmcblk0p9:rootfsB@mmcblk0p10:rootfs_data@mmcblk0p11:isp_param@mmcblk0p12:userA@mmcblk0p13:userB@mmcblk0p14:UDISK@mmcblk0p15 coherent_pool= androidboot.hardware=sun300iw1p1 boot_type=2 androidboot.boot_type=2 gpt=1 rootfstype=squashfs selinux=0 mbr_offset=311296 firmware_class.path=/mnt/UDISK/data/lib/firmware";
		linux,initrd-start = <0x83c00000>;
		linux,initrd-end = <0x84000000>;
	};

	/* used for hib & ultra standby poweron source enable mask */
	/* bit 0 ~ bit 7 - pl 0 ~pl 7 */
	/* bit 9 rtc alarm0 */
	/* bit 10 rtc alarm1 */
	/* bit 11 wakeuptimer */
	/* bit 12 wlan, keep 0 because hib has no wlan and ultra wakes up by wlan on remote core */
	poweron-source {
		hib_poweron_source  = <0x000007FF>;
		ultra_poweron_source  = <0x000007FF>;
	};

	reserved-memory {
		rv_ddr_reserved: rvddrreserved@80860000 {
			reg = <0x0 0x80860000 0x0 0x440000>;
			no-map;
		};
		/*
		* The name should be "vdev%dbuffer".
		* Its size should be not less than
		*     RPMSG_BUF_SIZE * (num of buffers in a vring) * 2
		*   = 512 * (num of buffers in a vring) * 2
		*/
		rv_vdev0buffer: vdev0buffer@80ca0000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x80ca0000 0x0 0x40000>;
			no-map;
		};
		/*
		* The name should be "vdev%dvring%d".
		* The size of each should be not less than
		*     PAGE_ALIGN(vring_size(num, align))
		*   = PAGE_ALIGN(16 * num + 6 + 2 * num + (pads for align) + 6 + 8 * num)
		*
		* (Please refer to the vring layout in include/uapi/linux/virtio_ring.h)
		*/
		rv_vdev0vring0: vdev0vring0@80ce0000 {
			reg = <0x0 0x80ce0000 0x0 0x2000>;
			no-map;
		};

		rv_vdev0vring1: vdev0vring1@80ce2000 {
			reg = <0x0 0x80ce2000 0x0 0x2000>;
			no-map;
		};

		e907_share_irq_table: share_irq_table@80ce4000 {
			reg = <0x0 0x80ce4000 0x0 0x2000>;
			no-map;
		};

		e907_rpbuf_reserved: e907_rpbuf@80ce6000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x80ce6000 0x0 0x40000>;
			no-map;
		};

		size_pool {
			reg = <0 0x81000000 0 0x01e00000>;
		};

		e907_mem_fw: e907_mem_fw@82e00000 {
			/* boot0 & uboot0 load elf addr */
			reg = <0x0 0x82e00000 0x0 0x25b000>;
		};

		isp_dram_reserved:isp_dram@8305b000 {
			reg = <0x0 0x8305b000 0x0 0x8d0000>;
		};

		linux,cma {
			size = <0x0 0x400000>;
		};
	};

	reserved-irq {
		share-e907 {
			arch-name = "e907";
			memory-region = <&e907_share_irq_table>;
			/* defined by sun300iw1-share-irq-dt.h */
			share-irq =
					<1    0x1    E907_PA_IRQ_NUM    A27_PA_IRQ_NUM    0x00000000>,
					<3    0x3    E907_PC_IRQ_NUM    A27_PC_IRQ_NUM    0x00000000>,
					<4    0x4    E907_PD_IRQ_NUM    A27_PD_IRQ_NUM    0x00000000>,
					<12   0xc    E907_PL_IRQ_NUM    A27_PL_IRQ_NUM    0x00000000>;
		};
	};

	hifbypass: hifbypass {
		compatible = "allwinner,sun300wi-sip-wifi";
		interrupts-extended = <&plic0 160 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&aon_ccu CLK_DCXO>;
		clock-names = "hosc";
		status = "okay";
	};

	rpbuf_controller0: rpbuf_controller0@0 {
		compatible = "allwinner,rpbuf-controller";
		remoteproc = <&e907_rproc>;
		ctrl_id = <0>;
		memory-region = <&e907_rpbuf_reserved>;
		status = "okay";
	};

	rpbuf_xradio: rpbuf_xradio@0 {
		compatible = "allwinner,rpbuf-xradio";
		rpbuf = <&rpbuf_controller0>;
		status = "okay";
	};

	rpbuf_aglink: rpbuf_aglink@0 {
		compatible = "allwinner,rpbuf-aglink";
		rpbuf = <&rpbuf_controller0>;
		status = "okay";
	};

	led_aglink {
		compatible = "allwinner,led-aglink";
		#address-cells = <1>;
		#size-cells = <0>;
		ledon_time = <1000>; //ms
		active = <0>;
		status = "okay";
		pwm@0 {
			reg = <0>;
			pwm_led_ch = <7>;
			status = "okay";
		};
		gpio@1 {
			reg = <1>;
			gpio = <&rtc_pio PL 7 GPIO_ACTIVE_LOW>;
			status = "disabled";
		};
	};

	aov_aglink: aov_aglink@0 {
		compatible = "allwinner,aov-aglink";
		gpio_v821_aov = <&pio PD 15 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};

	gyro_aglink {
		compatible = "allwinner,gyro-aglink";
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
		icm42607@0 {
			reg = <0>;
			addr = <0x68>;
			gpio = <&pio 3 17 GPIO_ACTIVE_HIGH>;
			hwio = <&twi1>;
			gyro_take_gy = <0x01>;
			gyro_take_speed = <6>; /*6:800hz; 5:1600hz*/
			gyro_take_ts = <1>;
			gyro_int_sel = <1>;       /*1:INT1; 2:INT2; 3:INT1 + INT2*/
			gyro_fifo_deep = <40>;
			status = "okay";
		};
		lsm6dsox@1 {
			reg = <1>;
			addr = <0x6A>;
			gpio = <&pio 3 17 GPIO_ACTIVE_HIGH>;
			hwio = <&twi1>;
			gyro_take_gy = <0x01>;
			gyro_take_speed = <7>; /*7:833hz; 8:1667hz*/
			gyro_take_ts = <1>;
			gyro_int_sel = <1>;       /*1:INT1; 2:INT2; 3:INT1 + INT2*/
			gyro_fifo_deep = <166>;
			status = "disabled";
		};
		sc7u22@2 {
			reg = <2>;
			addr = <0x19>;
			gpio = <0>;
			hwio = <&twi1>;
			gyro_take_gy = <0x01>;
			gyro_take_speed = <11>; /*11:800hz; 12:1600hz*/
			gyro_take_ts = <1>;
			gyro_int_sel = <1>;       /*1:INT1; 2:INT2; 3:INT1 + INT2*/
			gyro_fifo_deep = <80>;
			status = "disabled";
		};
	};

	heap_size_pool@0{
		compatible = "allwinner,size_pool";
		heap-name  = "size_pool";
		heap-id    = <0x7>;
		heap-base  = <0x81000000>;
		heap-size  = <0x01e00000>;
		heap-type  = "ion_size_pool";
		thrs = <512>;
		sizes = <0 30720>;
		fall_to_big_pool = <1>;
	};

	isp_param@0 {
		compatible = "allwinner,isp-param";
		sensor_count = <2>;
		sensor0_config_sector = <0 7>; /* <start_sector sector_length> */
		sensor0_isp_sector = <7 1>;
		sensor1_config_sector = <8 7>;
		sensor1_isp_sector = <15 1>;
		partition_name = "/dev/mmcblk0p12";
		preload_addr = <0x83650D00>;
		status = "okay";
	};

	ae350_standby_debug:ae350_standby_debug@1 {
		compatible = "allwinner,sun300iw1-ae350-standby-debug";
		mboxes = <&msgbox 2>;
		mbox-names = "ae350-notify";
		memory-region = <&efuse_ram_reserved>;
		status = "okay";
	};
};

&pio {
	uart0_pins_default: uart0_pins@0 {
		pins = "PD22", "PD23";
		function = "uart0";
	};

	uart0_pins_sleep: uart0_pins@1 {
		pins = "PD22", "PD23";
		function = "io_disabled";
	};

	uart1_pins_default: uart1_pins@0 {
		pins = "PD7", "PD8", "PD9", "PD10";
		function = "uart1";
	};

	uart1_pins_sleep: uart1_pins@1 {
		pins = "PD7", "PD8", "PD9", "PD10";
		function = "io_disabled";
	};

	uart2_pins_default: uart2_pins@0 {
		pins = "PC4", "PC5";
		function = "uart2";
	};

	uart2_pins_sleep: uart2_pins@1 {
		pins = "PC4", "PC5";
		function = "io_disabled";
	};

	uart3_pins_default: uart3_pins@0 {
		pins = "PC0", "PC1", "PC2", "PC3";
		function = "uart3";
	};

	uart3_pins_sleep: uart3_pins@1 {
		pins = "PC0", "PC1", "PC2", "PC3";
		function = "io_disabled";
	};

	gmac0_pins_default: gmac_pins@0 {
		pins = "PD1", "PD2", "PD3",
			"PD4", "PD5", "PD6", "PD7",
			"PD8", "PD9", "PD10", "PD11";
		function = "rmii";
		allwinner,drive = <3>;
		bias-pull-up;
	};

	gmac0_pins_sleep: gmac_pins@1 {
		pins = "PD1", "PD2", "PD3",
			"PD4", "PD5", "PD6", "PD7",
			"PD8", "PD9", "PD10", "PD11";
		function = "io_disabled";
	};

	dbi_pins_default: dbi@0 {
		pins = "PD1", "PD2", "PD3", /* dbi-csx, dbi-sclkm dbi-sdo */
			"PD4", "PD5", "PD6"; /* dbi-sdim sbi-dcx, dbi-te */
		function = "dbi";
	};

	dbi_pins_sleep: dbi@1 {
		pins = "PD1", "PD2", "PD3", /* dbi-csx, dbi-sclkm dbi-sdo */
			"PD4", "PD5", "PD6"; /* dbi-sdim sbi-dcx, dbi-te */
		function = "dbi";
	};
	pwm6_pins_active: pwm6@0 {
		pins = "PD7"; /* lcd-pwm */
		function = "pwm0_6";
	};
	pwm6_pins_sleep: pwm6@1 {
		pins = "PD7";
		function = "gpio_in";
		bias-pull-down;
	};
	pwm7_pins_active: pwm7@0 {
		pins = "PD8"; /* lcd-pwm */
		allwinner,drive = <3>;
		function = "pwm0_7";
	};
	pwm7_pins_sleep: pwm7@1 {
		pins = "PD8";
		function = "gpio_in";
		bias-pull-down;
	};
	pwm8_pins_active: pwm8@0 {
		pins = "PD18";
		function = "pwm0_8";
	};
	pwm8_pins_sleep: pwm8@1 {
		pins = "PD18";
		function = "gpio_in";
		bias-pull-down;
	};
	pwm9_pins_active: pwm9@0 {
		pins = "PD19";
		function = "pwm0_9";
	};
	pwm9_pins_sleep: pwm9@1 {
		pins = "PD19";
		function = "gpio_in";
		bias-pull-down;
	};

	twi0_pins_default: twi0@0 {
		pins = "PA3", "PA4";
		function = "twi0";
		allwinner,drive = <0>;
		bias-pull-up;
	};

	twi0_pins_sleep: twi0@1 {
		pins = "PA3", "PA4";
		function = "gpio_in";
	};

	twi1_pins_default: twi1@0 {
		pins = "PD18", "PD19";
		function = "twi1";
		allwinner,drive = <0>;
		bias-pull-up;
	};

	twi1_pins_sleep: twi1@1 {
		pins = "PD18", "PD19";
		function = "gpio_in";
	};

	spi0_pins_default: spi0@0 {
		pins = "PC8", "PC11"; /* mosi, miso */
		function = "spi0";
		allwinner,drive = <1>;
	};

	spi0_pins_cs: spi0@1 {
		pins = "PC6", "PC7", "PC10"; /* wp, hold, cs */
		function = "spi0";
		allwinner,drive = <1>;
		bias-pull-up;
	};

	spi0_pins_clk: spi0@2 {
		pins = "PC9"; /* clk */
		function = "spi0";
		allwinner,drive = <3>;
	};

	spi0_pins_sleep: spi0@3 {
		pins = "PC6", "PC7", "PC9", "PC8", "PC11", "PC10";
		function = "io_disabled";
	};

	spif_pins_default: spif@0 {
		pins = "PC9", "PC8", "PC11"; /* clk, mosi, miso */
		function = "spif";
		allwinner,drive = <3>;
	};

	spif_pins_cs: spif@1 {
		pins = "PC6", "PC7", "PC10"; /* wp, hold, cs */
		function = "spif";
		allwinner,drive = <3>;
		bias-pull-up;
	};

	spif_pins_sleep: spif@2 {
		pins = "PC6", "PC7", "PC9", "PC8", "PC11", "PC10";
		function = "io_disabled";
	};

	/* for uboot card probe */
	sdc0_pins_uboot: sdc0@3 {
		allwinner,pins = "PC0", "PC1", "PC2",
				"PC3", "PC4", "PC5";
		allwinner,function = "sdc0";
		allwinner,muxsel = <2>;
		allwinner,drive = <3>;
		allwinner,pull = <1>;
		power-source = <3300>;
	};

	i2s0_pins_a: i2s0@0 {
		pins = "PD11", "PD12", "PD13";
		function = "i2s0";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s0_pins_b: i2s0@1 {
		pins = "PD11", "PD12", "PD13", "PD14", "PD15";
		function = "io_disabled";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s0_pins_c: i2s0@2 {
		pins = "PD14";
		function = "i2s0_din0";
		allwinner,drive = <1>;
		bias-disable;
	};

	i2s0_pins_d: i2s0@3 {
		pins = "PD15";
		function = "i2s0_dout0";
		allwinner,drive = <1>;
		bias-disable;
	};
};

&rtc_pio {
	r_uart0_pins_default: r_uart0_pins@0 {
		pins = "PL4", "PL5";
		function = "uart0";
	};

	r_uart0_pins_sleep: r_uart0_pins@1 {
		pins = "PL4", "PL5";
		function = "io_disabled";
	};

	r_uart3_pins_default: r_uart3_pins@0 {
		pins = "PL2", "PL3";
		function = "uart3";
	};

	r_uart3_pins_sleep: r_uart3_pins@1 {
		pins = "PL2", "PL3";
		function = "io_disabled";
	};
};

&soc {
	card0_boot_para@0 {
		device_type = "card0_boot_para";
		card_ctrl = <0x0>;
		card_high_speed = <0x1>;
		card_line = <0x4>;
		pinctrl-0 = <&sdc0_pins_uboot>;
		clk_type = "typ1";
	};
	addr_mgt: addr_mgt {
		compatible = "allwinner,sunxi-addr_mgt";
		type_addr_wifi = <0x0>;
		type_addr_bt   = <0x0>;
		type_addr_eth  = <0x0>;
		status = "okay";
	};
	gpio-keys {
		compatible = "gpio-keys";
		status = "disabled";
		wakeup_io = <&wakeup_pin1>;
		wakeup-source;
		power {
			label = "Power";
			gpios = <&rtc_pio PL 5 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_POWER>;
			debounce-interval = <30>;
			status = "okay";
		};
	};
};

&wakeup_io {
	status = "disabled";
	wakeup_pins {
		wakeup_pin1:wakeup-pin@1 {
			gpio_info = <&rtc_pio PL 5 GPIO_ACTIVE_HIGH>;
			edge_mode = "positive";
			clk_src = <0>;
			debounce_us = <50000>;
			/*share-io;*/
			status = "okay";
		};
	};
};

&msgbox {
	status = "okay";
};

&hwspinlock {
	status = "okay";
};

&uart0 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart0_pins_default>;
	pinctrl-1 = <&uart0_pins_sleep>;
	status = "disabled";
};

&uart1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart1_pins_default>;
	pinctrl-1 = <&uart1_pins_sleep>;
	status = "disabled";
};

&uart2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart2_pins_default>;
	pinctrl-1 = <&uart2_pins_sleep>;
	status = "disabled";
};

&uart3 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&r_uart3_pins_default>;
	pinctrl-1 = <&r_uart3_pins_sleep>;
	status = "okay";
};

&twi0 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi0_pins_default>;
	pinctrl-1 = <&twi0_pins_sleep>;
	pinctrl-names = "default", "sleep";
	/* For stability and backwards compatibility, we recommend setting 'twi_drv_used' to 1 */
	twi_drv_used = <1>;
	rproc-name = "43030000.e907_rproc";
	status = "okay";
};

&twi1 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi1_pins_default>;
	pinctrl-1 = <&twi1_pins_sleep>;
	pinctrl-names = "default", "sleep";
	/* For stability and backwards compatibility, we recommend setting 'twi_drv_used' to 1 */
	twi_drv_used = <1>;
	status = "okay";
};

&soc_pmu0 {
	status = "okay";
};

&sdc0 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sdc0_pins_a &sdc0_pins_b>;
	pinctrl-1 = <&sdc0_pins_c>;
	bus-width = <4>;
	/*non-removable;*/
	/*broken-cd;*/
	/*cd-inverted*/
	/*data3-detect;*/
	/*sd-uhs-sdr50;*/
	/*sd-uhs-ddr50;*/
	/*sd-uhs-sdr104;*/
	no-sdio;
	no-mmc;
	/*sunxi-power-save-mode;*/
	sunxi-dis-signal-vol-sw;
	max-frequency = <50000000>;
	ctl-spec-caps = <0x8>;
	non-removable;
	cap-mmc-highspeed;
	mmc-bootpart-noacc;
	mmc-ddr-3_3v;
	sunxi-power-save-mode;
	status = "okay";
};

&pwm0_6 {
	pinctrl-names = "active", "sleep";
	pinctrl-0 = <&pwm6_pins_active>;
	pinctrl-1 = <&pwm6_pins_sleep>;
	status = "okay";
};

&pwm0_7 {
	pinctrl-names = "active", "sleep";
	pinctrl-0 = <&pwm7_pins_active>;
	pinctrl-1 = <&pwm7_pins_sleep>;
	status = "okay";
};

&pwm0_8 {
	pinctrl-names = "active", "sleep";
	pinctrl-0 = <&pwm8_pins_active>;
	pinctrl-1 = <&pwm8_pins_sleep>;
	status = "okay";
};

&pwm0_9 {
	pinctrl-names = "active", "sleep";
	pinctrl-0 = <&pwm9_pins_active>;
	pinctrl-1 = <&pwm9_pins_sleep>;
	status = "okay";
};

&spi0 {
	pinctrl-0 = <&spi0_pins_default &spi0_pins_cs &spi0_pins_clk>;
	pinctrl-1 = <&spi0_pins_sleep>;
	pinctrl-names = "default", "sleep";
	sunxi,spi-bus-mode = <SUNXI_SPI_BUS_NOR>;
	sunxi,spi-cs-mode = <SUNXI_SPI_CS_SOFT>;
	status = "disabled";

	spi_board0 {
		device_type = "spi_board0";
		compatible = "spi-nor";
		spi-max-frequency = <100000000>;
		m25p,fast-read = <1>;
		/*individual_lock;*/
		reg = <0x0>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;
		status = "disabled";
	};
};

&spif0 {
	clock-frequency = <100000000>;
	pinctrl-0 = <&spif_pins_default &spif_pins_cs>;
	pinctrl-1 = <&spif_pins_sleep>;
	pinctrl-names = "default", "sleep";
	spif-rx-bus-width = <0x4>;
	spif-tx-bus-width = <0x4>;
	//prefetch_read_mode_enabled;	/* choose prefect read mode */
	//dqs_mode_enabled;				/* choose dqs mode(nand provide clk mode) */
	dtr_mode_enabled;				/* choose double edge trigger mode */
	io_mode_enabled;				/* 1_x_x && x_x_x mode */
	status = "okay";

	spif-nor  {
		device_type = "spi_board0";
		compatible = "spif-nor";
		spi-max-frequency = <0x5f5e100>;
		reg = <0x0>;
		status = "disabled";
	};
};

/*----------------------------------------------------------------------------------
disp init configuration

disp_mode             (0:screen0<screen0,fb0>)
screenx_output_type   (0:none; 1:lcd; 2:tv; 3:hdmi;5:vdpo)
screenx_output_mode   (used for hdmi output, 0:480i 1:576i 2:480p 3:576p 4:720p50)
					(5:720p60 6:1080i50 7:1080i60 8:1080p24 9:1080p50 10:1080p60)
screenx_output_format (for hdmi, 0:RGB 1:yuv444 2:yuv422 3:yuv420)
screenx_output_bits   (for hdmi, 0:8bit 1:10bit 2:12bit 2:16bit)
screenx_output_eotf   (for hdmi, 0:reserve 4:SDR 16:HDR10 18:HLG)
screenx_output_cs     (for hdmi, 0:undefined  257:BT709 260:BT601  263:BT2020)
screenx_output_dvi_hdmi (for hdmi, 0:undefined 1:dvi mode 2:hdmi mode)
screen0_output_range   (for hdmi, 0:default 1:full 2:limited)
screen0_output_scan    (for hdmi, 0:no data 1:overscan 2:underscan)
screen0_output_aspect_ratio  (for hdmi, 8-same as original picture 9-4:3 10-16:9 11-14:9)
fbx format            (4:RGB655 5:RGB565 6:RGB556 7:ARGB1555 8:RGBA5551 9:RGB888 10:ARGB8888 12:ARGB4444)
fbx pixel sequence    (0:ARGB 1:BGRA 2:ABGR 3:RGBA)
fb0_scaler_mode_enable(scaler mode enable, used FE)
fbx_width,fbx_height  (framebuffer horizontal/vertical pixels, fix to output resolution while equal 0)
lcdx_backlight        (lcd init backlight,the range:[0,256],default:197
lcdx_yy               (lcd init screen bright/contrast/saturation/hue, value:0~100, default:50/50/57/50)
lcd0_contrast         (LCD contrast, 0~100)
lcd0_saturation       (LCD saturation, 0~100)
lcd0_hue              (LCD hue, 0~100)
framebuffer software rotation setting:
disp_rotation_used:   (0:disable; 1:enable,you must set fbX_width to lcd_y,
set fbX_height to lcd_x)
degreeX:              (X:screen index; 0:0 degree; 1:90 degree; 3:270 degree)
degreeX_Y:            (X:screen index; Y:layer index 0~15; 0:0 degree; 1:90 degree; 3:270 degree)
devX_output_type : config output type in bootGUI framework in UBOOT-2018.
				(0:none; 1:lcd; 2:tv; 4:hdmi;)
devX_output_mode : config output resolution(see include/video/sunxi_display2.h) of bootGUI framework in UBOOT-2018
devX_screen_id   : config display index of bootGUI framework in UBOOT-2018
devX_do_hpd      : whether do hpd detectation or not in UBOOT-2018
chn_cfg_mode     : Hardware DE channel allocation config. 0:single display with 6
				channel, 1:dual display with 4 channel in main display and 2 channel in second
				display, 2:dual display with 3 channel in main display and 3 channel in second
				in display.
----------------------------------------------------------------------------------*/
&disp {
	disp_init_enable         = <1>;
	disp_mode                = <0>;

	screen0_output_type      = <1>;
	screen0_output_mode      = <4>;
	screen0_to_lcd_index     = <0>;

	screen1_output_type      = <3>;
	screen1_output_mode      = <10>;
	screen1_to_lcd_index     = <2>;

	screen1_output_format    = <0>;
	screen1_output_bits      = <0>;
	screen1_output_eotf      = <4>;
	screen1_output_cs        = <257>;
	screen1_output_dvi_hdmi  = <2>;
	screen1_output_range     = <2>;
	screen1_output_scan      = <0>;
	screen1_output_aspect_ratio = <8>;

	pwms = <&pwm0 7 5000000 0>;
	pwm-names = "rgb0_backlight";

	fb_format                = <0>;
	fb_num                   = <1>;
	fb_debug                 = <0>;
	/*<disp channel layer zorder>*/
	fb0_map                  = <0 1 0 16>;
	fb0_width                = <800>;
	fb0_height               = <480>;
	/*<disp channel layer zorder>*/
	fb1_map                  = <0 2 0 16>;
	fb1_width                = <300>;
	fb1_height               = <300>;
	/*<disp channel layer zorder>*/
	fb2_map                  = <1 0 0 16>;
	fb2_width                = <1280>;
	fb2_height               = <720>;
	/*<disp channel layer zorder>*/
	fb3_map                  = <1 1 0 16>;
	fb3_width                = <300>;
	fb3_height               = <300>;

	chn_cfg_mode             = <1>;
	disp_para_zone           = <1>;
};

&lcd0 {
	lcd_used            = <1>;

	lcd_driver_name     = "default_lcd";
	lcd_backlight       = <50>;
	lcd_if              = <0>;

	lcd_x               = <800>;
	lcd_y               = <480>;
	lcd_width           = <150>;
	lcd_height          = <94>;
	lcd_dclk_freq       = <48>;

	lcd_pwm_used        = <1>;
	lcd_pwm_ch          = <7>;
	lcd_pwm_freq        = <50000>;
	lcd_pwm_pol         = <0>;
	lcd_pwm_name        = "rgb0_backlight";

	lcd_hbp             = <55>;
	lcd_ht              = <1240>;
	lcd_hspw            = <20>;
	lcd_vbp             = <35>;
	lcd_vt              = <650>;
	lcd_vspw            = <10>;

	lcd_frm             = <1>;
	lcd_io_phase        = <0x0000>;
	lcd_gamma_en        = <0>;
	lcd_bright_curve_en = <0>;
	lcd_cmap_en         = <0>;

	deu_mode            = <0>;
	lcdgamma4iep        = <22>;
	smart_color         = <90>;
};
&mdio0 {
	phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-id001c.c816";
		reg = <0>;
		max-speed = <100>;  /* Max speed capability for rmii */
		reset-gpios = <&pio PD 17 GPIO_ACTIVE_LOW>;
		/* PHY datasheet rst time */
		reset-assert-us = <10000>;
		reset-deassert-us = <150000>;
	};
};

&gmac0 {
	phy-mode = "rmii";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&gmac0_pins_default>;
	pinctrl-1 = <&gmac0_pins_sleep>;
	sunxi,phy-clk-type = <0>;
	phy-handle = <&phy0>;
	tx-delay = <0>;
	rx-delay = <0>;
	status = "okay";
};

&rt_media {
	sensor_0_venc: sensor_0_venc@0 {
		status = "okay";
		s0vencfg0: s0vencfg0@0 {
			status = "disabled";
			ch_id = <1>;//vipp_num
			venc_freq = <0>; //MHz, 0:default
			enable_online = <0>;//0:offline; 1:online
			online_share_buf_num = <1>;//for online, 1:one buf, 2:two buf
			vin_buf_num = <1>; //for offline. 0:use default value.
			codec_type = <0>;//0//0:H264; 1:JPG; 2:H265
			res_w = <1920>;
			res_h = <1080>;
			fps = <30>;
			bit_rate = <10240>;//kb
			gop = <60>;
			enable_sharp = <1>;
			product_mode = <3>;//0:static ipc, 1:moving ipc, 2: doorbell, 3:cdr, 4:sdv, 5:projection, 6:UAV(Unmanned Aerial Vehicle)
			vbr = <0>;//< operate venc. VBR=1, CBR=0
			vbr_opt_enable = <1>;//operate venc. 0: use old vbr bitrate control, 1: use new vbr bitrate control.
			drop_frame_num = <7>;//drop frames in rt_vi_comp, valid in offline mode.
			init_qp = <35>;
			i_min_qp = <20>;
			i_max_qp = <40>;
			p_min_qp = <20>;
			p_max_qp = <40>;
			enable_mb_qp_limit = <0>;
			moving_th = <20>;
			quality = <1>;
			i_frm_bits_coef = <10>;
			p_frm_bits_coef = <10>;
			out_mode = <0>;//0: stream; 1: yuv; 2: yuv_direct; 3: file_yuv; 4: outside_yuv
			pix_fmt = <0>;//12: RT_PIXEL_LBC_25X; 0: RT_PIXEL_YUV420SP, other ref RT_PIXELFORMAT_TYPE
			reduce_refrec_mem = <0>;//Can save memory space
			isp2ve_en = <1>;
			ve2isp_en = <1>;
			region_detect_link_en = <1>;
			enable_tdm_raw = <0>;
			tdm_rxbuf_cnt = <0>;
			dma_merge_mode = <0>; //ref to enum vi_dma_stitch_mode_t
			catchjpg_en = <0>;
			jpg_w = <2592>;
			jpg_h = <1944>;
			jpg_qp = <80>;
			jpg_enable_sharp = <1>;
			tdm_spdn_en = <1>;
			tdm_spdn_tx_vaild_num = <0>;
			tdm_spdn_tx_invaild_num = <0>;
			tdm_spdn_tx_valid_num_offset = <55>;
		};
		s0vencfg1: s0vencfg1@1 {
			status = "disabled";
			ch_id = <5>;//vipp_num
			venc_freq = <0>; //MHz, 0:default
			enable_online = <0>;//0:offline; 1:online
			online_share_buf_num = <1>;//for online, 1:one buf, 2:two buf
			vin_buf_num = <1>; //for offline. 0:use default value.
			codec_type = <0>;//0//0:H264; 1:JPG; 2:H265
			res_w = <640>;
			res_h = <360>;
			fps = <30>;
			bit_rate = <1536>;//kb
			gop = <40>;
			enable_sharp = <0>;
			product_mode = <0>;//0:static ipc, 1:moving ipc, 2: doorbell, 3:cdr, 4:sdv, 5:projection, 6:UAV(Unmanned Aerial Vehicle)
			vbr = <1>;//< operate venc. VBR=1, CBR=0
			vbr_opt_enable = <1>;//operate venc. 0: use old vbr bitrate control, 1: use new vbr bitrate control.
			drop_frame_num = <7>;//drop frames in rt_vi_comp, valid in offline mode.
			init_qp = <35>;
			i_min_qp = <25>;
			i_max_qp = <45>;
			p_min_qp = <25>;
			p_max_qp = <45>;
			enable_mb_qp_limit = <1>;
			moving_th = <20>;
			quality = <1>;
			i_frm_bits_coef = <10>;
			p_frm_bits_coef = <10>;
			out_mode = <1>;//0: stream; 1: yuv; 2: yuv_direct; 3: file_yuv; 4: outside_yuv
			pix_fmt = <0>;//12: RT_PIXEL_LBC_25X; 0: RT_PIXEL_YUV420SP, other ref RT_PIXELFORMAT_TYPE
			reduce_refrec_mem = <0>;//Can save memory space
			isp2ve_en = <1>;
			ve2isp_en = <0>;
			region_detect_link_en = <0>;
			enable_tdm_raw = <0>;
			tdm_rxbuf_cnt = <0>;
			dma_merge_mode = <0>; //ref to enum vi_dma_stitch_mode_t
			catchjpg_en = <0>;
			jpg_w = <640>;
			jpg_h = <360>;
			jpg_qp = <80>;
			jpg_enable_sharp = <0>;
		};
	};

	sensor_1_venc: sensor_1_venc@1 {
		status = "disabled";
		s1vencfg0: s1vencfg0@0 {
			status = "disabled";
			ch_id = <1>;//vipp_num
			venc_freq = <0>; //MHz, 0:default
			enable_online = <0>;//0:offline; 1:online
			online_share_buf_num = <1>;//for online, 1:one buf, 2:two buf
			vin_buf_num = <0>; //for offline. 0:use default value.
			codec_type = <0>;//0//0:H264; 1:JPG; 2:H265
			res_w = <1280>;
			res_h = <720>;
			fps = <15>;
			bit_rate = <1536>;//kb
			gop = <40>;
			enable_sharp = <1>;
			product_mode = <0>;//0:static ipc, 1:moving ipc, 2: doorbell, 3:cdr, 4:sdv, 5:projection, 6:UAV(Unmanned Aerial Vehicle)
			vbr = <1>;//< operate venc. VBR=1, CBR=0
			vbr_opt_enable = <1>;//operate venc. 0: use old vbr bitrate control, 1: use new vbr bitrate control.
			drop_frame_num = <0>;//drop frames in rt_vi_comp, valid in offline mode.
			init_qp = <35>;
			i_min_qp = <25>;
			i_max_qp = <45>;
			p_min_qp = <25>;
			p_max_qp = <45>;
			enable_mb_qp_limit = <1>;
			moving_th = <20>;
			quality = <1>;
			i_frm_bits_coef = <10>;
			p_frm_bits_coef = <10>;
			out_mode = <0>;//0: stream; 1: yuv; 2: yuv_direct; 3: file_yuv; 4: outside_yuv
			pix_fmt = <12>;//12: RT_PIXEL_LBC_25X; 0: RT_PIXEL_YUV420SP, other ref RT_PIXELFORMAT_TYPE
			reduce_refrec_mem = <0>;//Can save memory space
			isp2ve_en = <1>;
			ve2isp_en = <1>;
			region_detect_link_en = <0>;
			enable_tdm_raw = <0>;
			tdm_rxbuf_cnt = <0>;
		};
	};

	sensor_2_venc: sensor_2_venc@2 {
		status = "disabled";
		s2vencfg0: s2vencfg0@0 {
			status = "disabled";
			ch_id = <2>;//vipp_num
			venc_freq = <0>; //MHz, 0:default
			enable_online = <0>;//0:offline; 1:online
			online_share_buf_num = <1>;//for online, 1:one buf, 2:two buf
			vin_buf_num = <0>; //for offline. 0:use default value.
			codec_type = <0>;//0//0:H264; 1:JPG; 2:H265
			res_w = <1280>;
			res_h = <720>;
			fps = <15>;
			bit_rate = <1536>;//kb
			gop = <40>;
			enable_sharp = <1>;
			product_mode = <0>;//0:static ipc, 1:moving ipc, 2: doorbell, 3:cdr, 4:sdv, 5:projection, 6:UAV(Unmanned Aerial Vehicle)
			vbr = <1>;//< operate venc. VBR=1, CBR=0
			vbr_opt_enable = <1>;//operate venc. 0: use old vbr bitrate control, 1: use new vbr bitrate control.
			drop_frame_num = <0>;//drop frames in rt_vi_comp, valid in offline mode.
			init_qp = <35>;
			i_min_qp = <25>;
			i_max_qp = <45>;
			p_min_qp = <25>;
			p_max_qp = <45>;
			enable_mb_qp_limit = <1>;
			moving_th = <20>;
			quality = <1>;
			i_frm_bits_coef = <10>;
			p_frm_bits_coef = <10>;
			out_mode = <0>;//0: stream; 1: yuv; 2: yuv_direct; 3: file_yuv; 4: outside_yuv
			pix_fmt = <12>;//12: RT_PIXEL_LBC_25X; 0: RT_PIXEL_YUV420SP, other ref RT_PIXELFORMAT_TYPE
			reduce_refrec_mem = <0>;//Can save memory space
			isp2ve_en = <1>;
			ve2isp_en = <1>;
			region_detect_link_en = <0>;
			enable_tdm_raw = <0>;
			tdm_rxbuf_cnt = <0>;
		};
	};
};

&vind0 {
	csi_top = <240000000>;
	status = "okay";

	csi1: csi@45821000 {
		pinctrl-names = "default","sleep";
		pinctrl-0 = <&ncsi_bt656_pins_a>;
		pinctrl-1 = <&ncsi_bt656_pins_b>;
		status = "disabled";
	};

	tdm0: tdm@45908000 {
		work_mode = <0x1>;
		rpmsg-ser-name = "43030000.e907_rproc";
		delay_init = <1>;
	};

	isp00:isp@45900000 {
		work_mode = <0x1>;
		ldci_select = <0x0>;
		rpbuf = <&rpbuf_controller0>;
		isp-region = <&isp_dram_reserved>;
		rpmsg-ser-name = "43030000.e907_rproc";
		delay_init = <1>;
	};

	isp01:isp@458ffffc {
		status = "okay";
		ldci_select = <0x0>;
		rpbuf = <&rpbuf_controller0>;
		rpmsg-ser-name = "43030000.e907_rproc";
		delay_init = <1>;
	};

	isp10:isp@4 {
		status = "disabled";
	};

	scaler00:scaler@45910000 {
		work_mode = <0x1>;
		rpmsg-ser-name = "43030000.e907_rproc";
		delay_init = <1>;
	};

	scaler01:scaler@4590fffc {
		work_mode = <0xff>;
		status = "okay";
		rpmsg-ser-name = "43030000.e907_rproc";
		delay_init = <1>;
	};

	scaler10:scaler@45910400 {
		work_mode = <0x1>;
		status = "okay";
		rpmsg-ser-name = "43030000.e907_rproc";
		delay_init = <1>;
	};

	scaler11:scaler@459103fc {
		work_mode = <0xff>;
		status = "okay";
		rpmsg-ser-name = "43030000.e907_rproc";
		delay_init = <1>;
	};

	actuator0: actuator@2108180 {
		device_type = "actuator0";
		actuator0_slave = <0x18>;
		actuator0_af_pwdn = <>;
		actuator0_afvdd = "afvcc-csi";
		actuator0_afvdd_vol = <2800000>;
		status = "disabled";
	};


	flash0: flash@2108190 {
		device_type = "flash0";
		flash0_type = <2>;
		flash0_en = <>;
		flash0_mode = <>;
		flash0_flvdd = "";
		flash0_flvdd_vol = <>;
		device_id = <0>;
		status = "disabled";
	};

	sensor0: sensor@5812000 {
		device_type = "sensor0";
		sensor0_mname = "gc05a2_mipi";
		sensor0_twi_cci_id = <0>;
		sensor0_twi_addr = <0x6f>;
		sensor0_mclk_id = <0>;
		sensor0_pos = "rear";
		sensor0_isp_used = <1>;
		sensor0_fmt = <1>;
		sensor0_stby_mode = <0>;
		sensor0_vflip = <0>;
		sensor0_hflip = <0>;
		sensor0_iovdd-supply = <>;
		sensor0_iovdd_vol = <>;
		sensor0_avdd-supply = <&pmu_soc_ldo1>;
		sensor0_avdd_vol = <2800000>;
		sensor0_dvdd-supply = <>;
		sensor0_dvdd_vol = <>;
		sensor0_power_en = <>;
		sensor0_reset = <&pio PA 0 GPIO_ACTIVE_LOW>;
		sensor0_pwdn = <>;
		status = "okay";
	};

	sensor1: sensor@5812010 {
		device_type = "sensor1";
		sensor1_mname = "gc1084_mipi_2";
		sensor1_twi_cci_id = <0>;
		sensor1_twi_addr = <0x7e>;
		sensor1_mclk_id = <1>;
		sensor1_pos = "front";
		sensor1_isp_used = <1>;
		sensor1_fmt = <1>;
		sensor1_stby_mode = <0>;
		sensor1_vflip = <0>;
		sensor1_hflip = <0>;
		sensor1_iovdd-supply = <>;
		sensor1_iovdd_vol = <>;
		sensor1_avdd-supply = <>;
		sensor1_avdd_vol = <>;
		sensor1_dvdd-supply = <>;
		sensor1_dvdd_vol = <>;
		sensor1_power_en = <>;
		sensor1_reset = <&pio PD 13 GPIO_ACTIVE_LOW>;
		status = "disabled";
	};

	sensor_list0:sensor_list@200b820 {
		sensor00_mname = "gc5035_mipi";
		sensor00_twi_addr = <0x6c>;
		sensor00_type = <1>;
		sensor00_hflip =  <0>;
		sensor00_vflip = <0>;
		sensor00_act_used = <1>;
		sensor00_act_name = "dw9714_act";
		sensor00_act_twi_addr = <0x18>;
		sensor01_mname = "ov5675_mipi";
		sensor01_twi_addr = <0x6c>;
		sensor01_type = <1>;
		sensor01_hflip =  <0>;
		sensor01_vflip = <0>;
		sensor01_act_used = <1>;
		sensor01_act_name = "dw9714_act";
		sensor01_act_twi_addr = <0x18>;
		sensor02_mname = "sp5409_mipi";
		sensor02_twi_addr = <0x78>;
		sensor02_type = <1>;
		sensor02_hflip =  <0>;
		sensor02_vflip = <0>;
		sensor02_act_used = <1>;
		sensor02_act_name = "dw9714_act";
		sensor02_act_twi_addr = <0x18>;
		status	= "disabled";
	};

	sensor_list1:sensor_list@200b830 {
		sensor10_mname = "gc02m2_mipi";
		sensor10_twi_addr = <0x20>;
		sensor10_type = <1>;
		sensor10_hflip =  <0>;
		sensor10_vflip = <0>;
		sensor10_act_used = <0>;
		sensor10_act_name = "";
		sensor10_act_twi_addr = <>;
		sensor11_mname = "ov02a10_mipi";
		sensor11_twi_addr = <0x7a>;
		sensor11_type = <1>;
		sensor11_hflip =  <1>;
		sensor11_vflip = <0>;
		sensor11_act_used = <0>;
		sensor11_act_name = "";
		sensor11_act_twi_addr = <>;
		sensor12_mname = "gc030a_mipi";
		sensor12_twi_addr = <0x42>;
		sensor12_type = <1>;
		sensor12_hflip =  <0>;
		sensor12_vflip = <0>;
		sensor12_act_used = <0>;
		sensor12_act_name = "";
		sensor12_act_twi_addr = <>;
		status	= "disabled";
	};

	vinc00:vinc@45830000 {
		vinc0_csi_sel = <0>;
		vinc0_mipi_sel = <0>;
		vinc0_isp_sel = <0>;
		vinc0_isp_tx_ch = <0>;
		vinc0_tdm_rx_sel = <0>;
		vinc0_rear_sensor_sel = <0>;
		vinc0_front_sensor_sel = <0>;
		vinc0_sensor_list = <0>;
		rpmsg-ser-name = "43030000.e907_rproc";
		delay_init = <1>;
		work_mode = <0x1>;
		status = "okay";
	};

	vinc01:vinc@4582fffc {
		vinc1_csi_sel = <0>;
		vinc1_mipi_sel = <0>;
		vinc1_isp_sel = <1>;
		vinc1_isp_tx_ch = <0>;
		vinc1_tdm_rx_sel = <1>;
		vinc1_rear_sensor_sel = <0>;
		vinc1_front_sensor_sel = <0>;
		vinc1_sensor_list = <0>;
		status = "okay";
		rpmsg-ser-name = "43030000.e907_rproc";
		delay_init = <1>;
	};

	vinc10:vinc@45831000 {
		vinc4_csi_sel = <0>;
		vinc4_mipi_sel = <0>;
		vinc4_isp_sel = <0>;
		vinc4_isp_tx_ch = <0>;
		vinc4_tdm_rx_sel = <0>;
		vinc4_rear_sensor_sel = <0>;
		vinc4_front_sensor_sel = <0>;
		vinc4_sensor_list = <0>;
		rpmsg-ser-name = "43030000.e907_rproc";
		delay_init = <1>;
		work_mode = <0x1>;
		status = "okay";
	};

	vinc11:vinc@45830ffc {
		vinc5_csi_sel = <0>;
		vinc5_mipi_sel = <0>;
		vinc5_isp_sel = <1>;
		vinc5_isp_tx_ch = <0>;
		vinc5_tdm_rx_sel = <1>;
		vinc5_rear_sensor_sel = <0>;
		vinc5_front_sensor_sel = <0>;
		vinc5_sensor_list = <0>;
		status = "okay";
		rpmsg-ser-name = "43030000.e907_rproc";
		delay_init = <1>;
	};
};

/* audio dirver module -> audio codec */
&codec {
	tx-hub-en;
	rx-sync-en;

	dac-vol		= <63>;		/* default value:63 range:0->63 */
	dacl-vol	= <160>;	/* default value:160 range:0->255 */
	adc-vol		= <160>;	/* default value:160 range:0->255 */
	lineout-gain	= <31>;		/* default value:31 range:0->31 */
	mic-gain	= <31>;		/* default value:31 range:0->31 */
	adcdelaytime	= <0>;	/* default value:0 range:0,5,10,20,30 */

	pa-pin-max	= <1>;
	pa-pin-0	= <&rtc_pio PL 6 GPIO_ACTIVE_HIGH>;
	pa-pin-level-0	= <1>;
	pa-pin-msleep-0	= <0>;

	rglt-max	= <0>;
	//rglt0-mode	= "AUDIO";
	//rglt0-voltage	= <1800000>;
	//rglt1-mode	= "PMU";
	//rglt1-voltage	= <3300000>;
	//rglt1-supply	= <&reg_dcdc1>;

	status = "disabled";
};

&codec_plat {
	status = "disabled";
};

&codec_mach {
	status = "disabled";
	soundcard-mach,cpu {
		sound-dai = <&codec_plat>;
	};
	soundcard-mach,codec {
		sound-dai = <&codec>;
	};
};

/* audio dirver module -> I2S/PCM */
&i2s0_plat {
	tdm-num		= <0>;

	/* "tx-pin"
	* 1. tx pin enable setting.
	* 2. we can set it like tx_pin = <3 0> - enable tx_pin0 and tx_pin3.
	*
	* "rx-pin"
	* 1. rx pin enable setting.
	* 2. we can set it like rx_pin = <1 2> - enable rx_pin1 and rx_pin2.
	*
	* "tx-pin-chmap"
	* 1. tx pin channel map setting.
	* 2. the subscript of value corresponds to the channel number.
	* 3. the value corresponds to slot number.
	* 4. we can use it like tx-pin1-chmap = <1 2 ... 15> to set pin1 channel map.
	* 5. if enabled the pin, but not set "tx-pin-chmap", default set <0 1 2 ...>.
	* 6. if the count of value is less than 16, then missing member will be set 0.
	*
	* rxfifo map
	* 1. "rxfifo-pinmap" - set the corresponding pin.
	* 2. "rxfifo-chmap" - set the corresponding slot.
	* 3. we can use it like rxfifo-pinmap = <0 1 2>; rxfifo-chmap = <1 2 14>; to set rxfifo map.
	* 4. the count of value of "rxfifo-pinmap" can != the count of value of "rxfifo-pinmap",
	*    then missing member would be set 0.
	*/
	tx-pin		= <0>;
	rx-pin		= <0>;
	/* tx-pin0-chmap = <0 1 5>; */
	/* rxfifo-pinmap = <0 0>; */
	/* rxfifo-chmap = <0 1>; */

	/* pinctrl-used; */
	/* pinctrl-names	= "default","sleep"; */
	/* pinctrl-0	= <&i2s0_pins_a &i2s0_pins_c &i2s0_pins_d>; */
	/* pinctrl-1	= <&i2s0_pins_b>; */
	tx-hub-en;
	rx-sync-en;
	deferred-device;
	status		= "disabled";
};

&i2s0_mach {
	soundcard-mach,format		= "i2s";
	soundcard-mach,frame-master	= <&i2s0_cpu>;
	soundcard-mach,bitclock-master	= <&i2s0_cpu>;
	/* soundcard-mach,frame-inversion; */
	/* soundcard-mach,bitclock-inversion; */
	soundcard-mach,slot-num		= <2>;
	soundcard-mach,slot-width	= <32>;
	deferred-device;
	status		= "disabled";
	i2s0_cpu: soundcard-mach,cpu {
		sound-dai = <&i2s0_plat>;
		/* note: pll freq = 24.576M or 22.5792M * pll-fs */
		soundcard-mach,pll-fs	= <1>;
		/* note:
		* "mclk-fs"
		* if not defined it or equal to 0, disable mclk.
		*
		* "mclk-fp" (if defined "mclk-fs")
		* 1. if not defined "mclk-fp", mclk_freq = mclk-fs * sample_rate;
		* 2. if defined "mclk-fp" but no value, mclk_freq = mclk-fs * 11.2896M or 12.288M;
		* 3. if defined "mclk-fp" with 2 value, like: mclk-fp = <val1 val2>;
		*    it means: mclk_freq(44.1k fp) = mclk-fs * val1;
		*              mclk_freq(48k fp)   = mclk-fs * val2.
		*/
	};
	i2s0_codec: soundcard-mach,codec {
	};
};

&e907_rproc {
	firmware-name = "amp_rv0.bin";
	mboxes = <&msgbox 0>;
	mbox-names = "arm-kick";
	auto-boot;
	skip-shutdown;
	fw-region = <&e907_mem_fw>;
	memory-region = <&rv_ddr_reserved>, <&rv_vdev0buffer>, <&rv_vdev0vring0>, <&rv_vdev0vring1>, <&e907_share_irq_table>;
	fw-partitions = "riscv0", "riscv0-r";
	fw-partition-sectors = <4864>;
	memory-mappings =
	/* < DA         len             PA >    */
	/* SRAM ISP */
	< 0x2000000        0xa800        0x2000000 >,
	/* SRAM VE */
	< 0x200a800        0x17400       0x200a800 >,
	/* SRAM WIFI */
	< 0x68000000       0x1000000     0x68000000 >,
	/* DRAM */
	< 0x80000000       0x0fffffff    0x80000000 >;
	stop-record-reg = <0x4a00020c>;

	share-irq = "e907";
	status = "okay";

	rproc_wdt: rproc_wdt@0 {
		timeout_ms = <6000>;
		try_times = <1>;
		reset_type = <0x2>;
		panic_on_timeout = <1>;
		status = "okay";
	};
};
/*
*usb_port_type: usb mode: 0-device, 1-host, 2-otg.
*usb_detect_type: usb hotplug detect mode. 0-none, 1-vbus/id detect, 2-id/dpdm detect.
*usb_detect_mode: 0-thread scan, 1-id gpio interrupt.
*usb_id_gpio: gpio for id detect.
*usb_det_vbus_gpio: gpio for id detect. gpio or "axp_ctrl";
*usb_wakeup_suspend：0-SUPER_STANDBY, 1-USB_STANDBY.
*/
&usbc0 {
	device_type = "usbc0";
	usb_port_type = <0x0>;
	usb_detect_type = <0x0>;
	usb_detect_mode = <0x0>;
	//usb_id_gpio;
	//usb_det_vbus_gpio;
	//usb_det_vbus_gpio = "axp_ctrl";
	//det_vbus_supply;
	usb_regulator_io = "nocare";
	usb_wakeup_suspend = <0x0>;
	usb_luns = <0x3>;
	usb_serial_unique = <0x0>;
	usb_serial_number = "20080411";
	deferred-device;
	status = "okay";
};

&udc {
	//det_vbus_supply = <&gpio_charger>;
	deferred-device;
	status = "okay";
};

&ehci0 {
	//drvvbus-supply = <&reg_usb_vbus>;
	deferred-device;
	status = "okay";
};

&ohci0 {
	//drvvbus-supply = <&reg_usb_vbus>;
	deferred-device;
	status = "okay";
};

&gpadc0 {
	channel_num = <4>;
	channel_select = <0x3>;
	channel_data_select = <0x3>;
	channel_compare_select = <0x3>;
	channel_cld_select = <0x3>;
	channel_chd_select = <0x3>;
	channel0_compare_lowdata = <1700000>;
	channel0_compare_higdata = <1200000>;
	channel1_compare_lowdata = <460000>;
	channel1_compare_higdata = <1200000>;
	deferred-device;
	status = "disabled";
};

&ths {
	deferred-device;
};

&prcm_ccu {
	extern_32k = "disabled";
	extern_fre = <32768>;
};

&cpu0 {
	cpu-supply = <&reg_vdd_cpu>;
};
